body{
    margin-top: 80px;
    height: 100vh;
}
main{
    height: 100%;
}


main .con-flex .context-con{
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


main .img-bg{
    height: 500px;
}

main .img-bg img{
    filter: brightness(70%);
}

main .img-bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .img-bg .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(237, 237, 237);
}


main .img-bg .content h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

main .img-bg .content button{
    background: transparent;
    color: white;
    gap: 10px;
    padding: 14px 36px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgb(237, 237, 237);
}

main .img-bg .content button:hover{
    background: #dc821b;
    border-color: transparent;
}


main .con-flex .context-con hr
{
    width: 40px;
    border: 1px solid #011425;
}

main .con-flex .context-con .hr-div
{
    display: flex;
    justify-content: center;
}

main .con-flex .context-con .context{
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
}

main .con-flex .context-con h4{
    font-weight: 400;
    color: #02223e;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

main .con-flex .context-con .title{
    font-size: 36px;
}

.con-flex .img-con{
    height: 500px;
}


.con-flex .img-con img{
    object-fit: cover;
}


main .con-flex .vid-con{
    height: 100%;
    object-fit: cover;
}

@media (min-width: 768px) {
    .con-flex-imgs{
        flex-direction: row;
    }
}

@media (min-width: 980px) {
    .con-flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        margin-top: 120px;
    }

    main{
        margin-top: 0;
    }
    body{
        margin-top: 75px;
    }

    main .con-flex .context-con{
        padding: 0 100px 0 100px;
        text-align: start;
        font-size: 15px;
    }

    main .con-flex .context-con .hr-div{
        justify-content: start;
    }

    main .second-main-context{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    main .second-main-context{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main .second-main-context .context-con{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    main .second-main-context .context-con .context{
        width: 600px;
        font-size: 16px;
    }

    main .con-flex .context-con .context{
        font-size: 16px;
    }

    main .second-main-context .context-con .hr-div
    {
        justify-content: center;
    }

}

@media (min-width: 1200px) {
    .con-flex-imgs{
        max-height: 600px;
    }
}

@media (min-width: 1520px) {
    .con-flex-imgs{
        max-height: 800px;
    }

    main .con-flex .vid-con{
        height: 300px;
        object-fit: cover;
    }
}