body{
    margin-top: 80px;
    height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-con{
    position: relative;
}


.header-con .img-con{
    height: 450px;
    overflow: hidden;
    width: 100%;
}

.header-con .img-con img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
}

.header-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
}

.header-text h1{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.header-text p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    font-style: italic;
}

.header-con .header-text button{
    padding: 8px 32px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 18px;
}

.header-con .header-text button:hover{
    background: white;
    color: black;
}
    


.center .con{
    width: 100%;
}



.center .con .con-div-first,
.center .con .con-div-second,
.center .con .con-div-third{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.center .con .con-div-first .context-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.center .con .con-div-first .context-div h3{
    font-size: 26px;
    font-weight: 500;
}

.center .con .con-div-first .context-div p{
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    color: rgb(55, 55, 55);
}

.center .con .con-div-first .context-div button{
    background: #083a65;
    color: white;
    display: flex;
    gap: 10px;
    padding: 14px 36px;
    border-radius: 50px;
    font-size: 13px;
    border: none;
}

.center .con .con-div-first .context-div button:hover{
    background: #145e9e;
}

.center .con .con-div-first .img-con{
    height: 400px;
    border-radius: 6px;
    overflow: hidden;
}


.center .con .con-div-second{
    background: black;
}

.center .con .con-div-second .container{
    background: rgb(51, 51, 51);
    padding: 20px 30px;
    border-radius: 4px;
    color: rgb(221, 221, 221);
    line-height: 25px;
}
.center .con .con-div-second .container i{
    color: #145e9e;
    font-size: 28px;
}

.center .con .con-div-second .container .title{
    font-size: 17px;
}

.center .con .con-div-second .container p{
    font-weight: 300;
    font-size: 14px;
}

main .center .con.reversed{
    flex-direction: row-reverse;
}


@media (min-width: 768px) {
    .center .con .con-div-first,
    .center .con .con-div-second{
        flex-direction: row;
    }

    .center .con .con-div-first .context-div,
    .center .con .con-div-first .img-con{
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    .center .con .con-div-first .img-con{
        height: 500px;
    }

    .center .con .con-div-first .context-div h3{
        font-size: 28px;
    }

    .center .con .con-div-first,
    .center .con .con-div-third .flex{
        width: 90%;
    }

    .center .con .con-div-second{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
    }

    .center .con .con-div-third .flex{
        grid-template-columns: repeat(4, 1fr);
    }

    .center .con .con-div-third .flex-second{
        grid-template-columns: repeat(2, 1fr);
    }

    .center .con .con-div-third .flex-second .con-item .img-con{
        height: 350px;
    }

    .center .con .con-div-third h1{
        font-size: 28px;
    }

    .center .con .con-div-third .flex .con-item .img-con{
        height: 300px;
    }
}